@{
    ProductImage main = Model.ProductImages.FirstOrDefault(pi => pi.IsPrimary == true);
   
}
@model UpdateProductVM

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Update Product</h1>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" class="form-control" placeholder="Name">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group ">

                                <img style="width:150px;height:150px" src="~/img/@main.Url" />
                                <button type="button" class="btn btn-danger position-absolute">X</button>

                            </div>
                            <div class="form-group">
                                <label asp-for="MainPhoto">Main Photo</label>
                                <input asp-for="MainPhoto" class="form-control" accept="image/*">
                                <span class="text-danger" asp-validation-for="MainPhoto"></span>
                            </div>
                          
                          
                            <div class="form-group d-flex">
                                @foreach (ProductImage image in Model.ProductImages.Where(pi => pi.IsPrimary == null))
                                {
                                    <div class="position-relative">
                                        <img style="width:150px;height:150px" src="~/img/@image.Url" />
                                        <button type="button" style="right:0" class="cus-delete btn btn-danger position-absolute">X</button>
                                        <input asp-for="ImageIds" type="hidden" value="@image.Id">
                                    </div>

                                }
                            </div>
                            <div class="form-group">
                                <label asp-for="Photos">Additional Photos</label>
                                <input asp-for="Photos" class="form-control" accept="image/*">
                                <span class="text-danger" asp-validation-for="Photos"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price">Price</label>
                                <input asp-for="Price" class="form-control" placeholder="Price">
                                <span class="text-danger" asp-validation-for="Price"></span>
                            </div>
                         
                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <input asp-for="Description" class="form-control" placeholder="Description">
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Rating">Rating</label>
                                <input asp-for="Rating" class="form-control" placeholder="Rating">
                                <span class="text-danger" asp-validation-for="Rating"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Tvit">Tvit</label>
                                <input asp-for="Tvit" class="form-control" placeholder="Tvit">
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Inst">Inst</label>
                                <input asp-for="Inst" class="form-control" placeholder="Inst">
                                <span class="text-danger" asp-validation-for="Inst"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Face">Face</label>
                                <input asp-for="Face" class="form-control" placeholder="Face">
                                <span class="text-danger" asp-validation-for="Face"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Pin">Pin</label>
                                <input asp-for="Pin" class="form-control" placeholder="Pin">
                                <span class="text-danger" asp-validation-for="Pin"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CategoryId"> Category </label>


                                <select asp-for="CategoryId" asp-items="new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name))" class="form-control">
                                </select>

                                <span class="text-danger" asp-validation-for="CategoryId">  </span>
                            </div>
                        
                            <div class="form-group">
                                <label asp-for="ColorsId"> Colors</label>


                                <select asp-for="ColorsId" asp-items="new SelectList(Model.Colors,nameof(Color.Id),nameof(Color.Name))" class="form-control">
                                </select>

                                <span class="text-danger" asp-validation-for="ColorsId">  </span>
                            </div>
                           

                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button asp-action="index" asp-controller="products" class="btn btn-danger">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section DeleteImages
    {
    <script>
        var btns = document.querySelectorAll(".cus-delete")
        for (let i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                btns[i].parentElement.remove();
            })
        }

    </script>
}



